<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registerform</title>
</head>
<body bgcolor="lightgreen">
<form action="userform" method="post">
  {% csrf_token %}

    <input type="text" name= "username" placeholder="Enter Your Username"><br>
    <input type="text" name="first_name" placeholder="Enter Your first name"><br>
   <input type= "text" name="last_name" placeholder="Enter Your last name"><br>
   <input type="email" name="email" placeholder="Enter Your email id"><br>
   <input type="password" name="password" placeholder="Enter Your Password"><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
    <input type="submit">


</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>